@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!-- Masthead-->
<header class="masthead ">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase">ShowRoom</h1>
                <h2 class="text-danger mx-auto mt-2 mb-5">Welcome to ShowRoom site that provides a variety of car and bike brands</h2>
                <a class="btn btn-lg btn-primary" href="#about">Get Started</a>
            </div>
        </div>
    </div>
</header>
<!-- About-->
<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8">
                <h2 class="text-white mb-4"> ShowRoom Products</h2>
                <p class="text-white-50">
                    ShowRoom is a site provides to the user 
                    a detailed information of a variety of cars 
                    and motorbikes such as the engine types, 
                    the wheels, the consumption of the fuel.
                </p>
            </div>
        </div>
        <img class="img-fluid" src="~/assets/img/car-brands-wallpapers.jpg" alt="..." />
    </div>
</section>
<!-- Projects-->
<section class="projects-section1 bg-light" id="projects">
    <div class="container px-4 px-lg-5">
        <!-- Featured Project Row-->
        <div class="row no-gutters gx-0 mb-4 mb-lg-5 align-items-center">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="~/assets/img/Jaquar.jpg" alt="..." /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text1  text-center text-lg-left">
                    <h4>Jaguar </h4>
                    <p class="text-black-50 mb-0">
                        Jaguar is a luxurious sedans and athletic 
                        sports cars for decades, but more recently 
                        it has added crossovers and SUVs that continue to 
                        perpetuate these trademark attributes
                    </p>
                </div>
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row no-gutters gx-0 mb-5 mb-lg-0 justify-content-center ">
            <div class="col-lg-6"><img class="img-fluid" src="~/assets/img/Ford.jpg" alt="..." /></div>
            <div class="col-lg-6">
                <div class="bg-secondary text-center h-100 project1">
                    <div class="d-flex h-100 ">
                        <div class="project-text1 w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Ford</h4>
                            <p class="mb-0 text-white-50">
                                Ford is one of the best selling cars in the world, 
                                that have a variety of sedan, SUV and van cars
                            </p>
                            <hr class="d-none  d-lg-block mb-0 ms-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row no-gutters gx-0 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="~/assets/img/motorBike2.jpg" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-secondary text-center h-100 project1">
                    <div class="d-flex h-100">
                        <div class="project-text1 w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">HONDA</h4>
                            <p class="mb-0 text-white-50">
                                HONDA is a global brand that produces 
                                a collection of motorbikes and cars
                            </p>
                            <hr class="d-none d-lg-block mb-0 me-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact-->
<section class="contact-section bsquare mb-1">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body1 text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Address</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="medium text-black-50">4923 Market Street, Orlando FL</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body1 text-center">
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Email</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="medium text-black-50"><a href="#!">ShowRoom@mydomain.com</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body1 text-center">
                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="text-uppercase m-0">Phone</h4>
                        <hr class="my-4 mx-auto" />
                        <div class="medium text-black-50">+966 504-028-832</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social d-flex justify-content-center ">
            <a class="mx-2 mb-4" href="#!"><i class="fab fa-twitter"></i></a>
            <a class="mx-2 mb-4" href="#!"><i class="fab fa-facebook-f"></i></a>
            <a class="mx-2 mb-4" href="#!"><i class="fab fa-github"></i></a>
        </div>
    </div>
</section>
